.formCard {
    width: 15em;
}

.formCard p{
    margin: 1em 0 0.5em 0;
}

.formCard input, .formCard textarea {
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    width:90%;
}

.formCard textarea {
    height: 5em;
    resize: vertical;
}

.formCard h2{
    margin-bottom: 0.5em;
}

.formCard .buttonsContainer{
    display: flex;
    gap: 0.5em;

    margin-top: 1em;
    width: 100%;
}

.formCard .buttonsContainer button{
    flex: 1;
}

.radioContainer {
    display: flex;
    gap: 5px;
    width:100%;
}

.radioContainer button{
    flex:1;
}

.radioContainer.signup{
    margin-bottom: 0.5em;
}



.fileInputContainer{
    display: flex;
    align-items: center;
    gap: 0.5em;
  
    width: 100%;

    position: relative;
  }
  
  
  .imageInput {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    pointer-events: none;
  }
  
  .imageButton {
    display: block;
    border: 2px solid black;
    padding: 0.5em 1em;
    border-radius: 2em;
    cursor: pointer;
  
    transition: all 0.2s ease;
  
    flex: 1;
    text-align: center;
  }
  
  .imageButton:hover {
    background-color: black;
    color: white;
  }
  
  .fileIndicatorContainer {
    display: flex;
    align-items: center; 
    gap: 0.1em;
    overflow: hidden;
  }
  
  .fileIndicatorContainer .filename {
    flex: 1;
    white-space: nowrap;
    overflow-x:hidden;
    text-overflow: ellipsis;
  
    font-style: italic;
    color: rgb(60, 60, 60);
  }
  
  .fileIndicatorContainer .deleteIcon {
    font-size: 1.2em;
    cursor: pointer;
  }
  

.accountTypeTitle{
    margin-top: 0.2em !important;
}