@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,87.5,300..800;1,87.5,300..800&display=swap');

@import "./Modals/PopUp.css";
@import "./Modals/PaymentForm.css";

@import "./Header.css";
@import "./Footer.css";

@import "./MainPage/FirstCard.css";
@import "./MainPage/ForBusinesses.css";
@import "./MainPage/Functionalities.css";
@import "./MainPage/FunctionalityCard.css";

@import "./Offers.css";
@import "./Donate.css";
@import "./FoodCard.css";
@import "./Catalogue.css";


@import "./Forms.css";

:root {
    --grey: #E1E7EB;
    --darkBlue: #093657;
    --lightBlue: #0d4f6e;
}

body {
    background-color: var(--grey);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}
  
button {
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    

    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: 2px solid black;
    border-radius: 10em;
    transition: all 0.2s;

    line-height: 1em;
}

button.white{
    background-color: white;
    border: 2px solid white;
}

button.whiteNoBackground{
    border-color: white;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.3em);
}



button:hover {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    transform: scale(0.98);
}

button.white:hover  {
    background-color: white;
    border: 2px solid white;
    color: black;
}

button.active{
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

button.secondary {
    background-color: black;
    color: white;
}

button.secondary:hover{
    transform: scale(0.97);
}

button.secondary.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}


h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1.5em;
    font-weight: normal;
    line-height: 0.9em;
}

h2 {
    font-size: 1.4em;
    line-height: 1em;
}

h3{
    font-size: 1.2em;
    line-height: 1em;
}

p{
    line-height: 1em;
}

input, textarea {
    padding: 0.6em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

input:focus ,  textarea:focus{
    outline: none;
}

.firstPageSection{
    display: flex;
    flex-direction: row;
    gap: 1em;

    width: 70%;
    min-width: 40em;
    max-width: 60em;
    margin: 0 auto;
}

.firstPageSection.column {
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;

    margin: 1em auto;

    justify-content: center;
    align-items: center;

    padding: 3em 2em;
    background-color: white;
    border-radius: 0.8em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardsContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  
    flex-grow: 1;
    overflow-y: auto;
  
    max-height: calc(100vh - 18em); 
  
    width:100%;
    padding-right: 0.4em;
}

.cardsContainer::-webkit-scrollbar {
    width: 6px; 
}

.cardsContainer::-webkit-scrollbar-track {
    background: transparent;
}

.cardsContainer::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 4px;
}

.emptySectionText{
    padding: 2em;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

button.noButton{
    background: none;
    border: none;
    padding: 0;
    cursor: default;
}


button.noButton.white{
    color: white;
}

button.noButton:hover{
    background: none;
    color: black;
    border: none;
}

button.noButton.white:hover{
    color: white;
}

.userMenuButton{
    display: flex;
    align-items: center;
    gap: 0.5em;
}