.card{
    display: flex;
    flex-direction: column;

    width: 15em;
    margin: 1em auto;

    justify-content: center;
    align-items: center;

    padding: 3em 2em;
    background-color: white;
    border-radius: 0.8em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card p{
    margin: 1em 0 0.5em 0;
}

.card input {
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    width: 90%;
}

.card h2{
    margin-bottom: 0.5em;
}

.card .buttonsContainer{
    display: flex;
    gap: 0.5em;

    margin-top: 1em;
    width: 100%;
}

.card .buttonsContainer button{
    flex: 1;
}

.radioContainer {
    display: flex;
    gap: 5px;
    width:100%;
}

.radioContainer button{
    flex:1;
}



