#forBusinesses{
    align-items: center;
    justify-content: center;
}

#forBusinesses img{
    width: 18em;
}

.businessesTextContainer{
    text-align: right;
}

.businessesTextContainer .paragraph{
    margin: 1em 0;
}

.businessesTextContainer a{
    color: black;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.businessesTextContainer a:hover{
    color: var(--darkBlue);
}