.functionalityCard{
    display: flex;
    flex-direction: column;
    gap:1em;
    
    flex:1;

    justify-content: center;
    align-items: center;

    padding: 2em;
    background-color: white;
    border-radius: 0.8em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.functionalityCard p{
    text-align: center;
}

.functionalityCard img {
    width: 9em;
}