.loadingScreen{
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color:white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  z-index: 199;
}

.loadingScreen.show{
  opacity: 1;
}

.loadingIcon{
  width: 6em;
  pointer-events: none;
  animation: spin 2s linear infinite;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}