.popupBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  backdrop-filter: blur(4px);
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: all 0.6s ease;
}

.popupBackground.show {
  opacity: 1;
  pointer-events: all;
}

.popUp{
  opacity: 0;
  pointer-events: none;

  width:10em;
  line-height: 1em;
  padding: 1.5em 1em;

  position: fixed;
  top:0;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.8em;

  transition: all 0.6s ease;
}

.popUp p{
  margin: 0;
  text-align: center;
}

.popUp.show {
  opacity: 1;
  top:2em;
  pointer-events: all;
}

.loader{
  width:100%;
  height:4px;
  background-color: rgba(255, 255, 255, 0.2);

  position: absolute;
  bottom: 0;
  left: 0;
}

.loader.show{
  animation: grow 2s linear;
}

@keyframes grow{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}